
<section class="inner-banner">
    <div class="container">
        <h1>About<strong> Us</strong></h1>
    </div>
</section>

<!-- <section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="yabanner"></div>
        </div>
    </div>
</section> -->
<section class="a-section-1">
    <img class="shape-1" src="assets/images/shape/shape-1.png"/>
    <img class="shape-3" src="assets/images/shape/shape-2.gif"/>
    <div class="container">
        <h2>We make the <span>magic</span> happen at <span>Quickmints</span>!</h2>
        <div class="box effect2">
            <p><strong>Qickmints</strong> is an online marketplace for classes and services. At Quickmints, we love to help people. We love building strong communities. Our vision is to help find any service you need and be able to book instantly.</p>
        </div>
    </div>
    <img class="shape-2" src="assets/images/shape/shape-1.png"/>
</section>
<section class="a-section-2">
    <div class="container">
        <h2>We connect people! We believe in a strong community!</h2>
    </div>
</section>
<section class="a-section-3">
    <img class="shape-4" src="assets/images/shape/shape-5.png"/>
    <div class="find-container">
        <!-- <div class="find-info">
            <h3>Find</h3>
            <p>Classes</p>
            <p>Services</p>
        </div> -->
        <img class="shape-4dd" src="assets/images/shape/Gif-1.gif"/>
    </div>
    <img class="shape-5" src="assets/images/shape/shape-2.svg"/>
</section>
<section class="a-section-4">
    <img class="shape-6" src="assets/images/shape/shape-6.svg"/>
    <div class="container">
        <h2>Everything you need in one place!</h2>
        <!-- <img src="assets/images/shape/gif-2.gif"/> -->
    </div>
    <img class="shape-7" src="assets/images/shape/shape-7.svg"/>
</section>
<section class="a-section-5">
    <img class="shape-8" src="assets/images/shape/shape-8.png"/>
    <div class="online-person-container" style="background-image: url('assets/images/shape/shape-10.gif')">
        <p>In-Person <br>OR <br>Online Classes</p>
    </div>
    <img class="shape-9" src="assets/images/shape/shape-9.png"/>
</section>

<section class="a-section-6">
    <img class="shape-10" src="assets/images/shape/shape-11.png"/>
    <img class="shape-11" src="assets/images/shape/shape-12.png"/>
    <div class="container">
        <h2 class="kids-title">KIDS CLASSES</h2>
        <div class="kids-classes-row">
            <div class="kids-classes-list" style="background-image: url('assets/images/shape/shape-15.gif')">
                <ul>
                    <li>Math</li>
                    <li>English</li>
                    <li>Science</li>
                    <li>Social</li>
                    <li>Arts & Crafts</li>
                    <li>Robotics</li>
                    <li>Games & Fun</li>
                </ul>
            </div>
            <div class="kids-classes-list" style="background-image: url('assets/images/shape/shape-16.gif')">
                <ul>
                    <li>Life Skills</li>
                    <li>Dance</li>
                    <li>Yoga</li>
                    <li>Music</li>
                    <li>Sports</li>
                    <li>Coding & Tech</li>
                    <li>World Languages</li>
                </ul>
            </div>
        </div>
    </div>
    <img class="shape-12" src="assets/images/shape/shape-13.png"/>
    <img class="shape-13" src="assets/images/shape/shape-14.png"/>
</section>
<section class="a-section-7">
    <img class="shape-14" src="assets/images/shape/shape-17.png"/>
    <div class="container">
        <h2 class="adult-title">ADULT CLASSES</h2>
        <div class="adult-classes">
            <ul>
                <li>Fitness</li>
                <li>Yoga</li>
                <li>Professional</li>
                <li>Business</li>
                <li>Career</li>
                <li>Languages</li>
                <li>Arts & Crafts</li>
                <li>Hobbies</li>
                <li>Sports</li>
            </ul>
        </div>
    </div>
    <img class="shape-15" src="assets/images/shape/shape-18.png"/>
</section>

<section class="a-section-8">
    <h2 class="title">Our Values</h2>
    <div class="values-container-fluid">
        <div class="values-col">
            <div class="values-item">
                <h4>Simplicity</h4>
                <div class="values-icon">
                    <img src="assets/images/shape/icon-1.png"/>
                </div>
                <p>We strive to continuously understand the pain points of our customers and provide simple frictionless experiences</p>
            </div>
        </div>
        <div class="values-col">
            <div class="values-item">
                <h4>Empathy</h4>
                <div class="values-icon">
                    <img src="assets/images/shape/icon-2.png"/>
                </div>
                <p>We understand that we are trying to solve the problems for real people. In doing so it requires empathy and deep understanding of our customers problems</p>
            </div>
        </div>
        <div class="values-col">
            <div class="values-item">
                <h4>Solve</h4>
                <div class="values-icon">
                    <img src="assets/images/shape/icon-3.png"/>
                </div>
                <p>We are relentlessly trying to solve our customer problems through innovation. We believe innovation can happen in everything. We focus on the most important problems and continuously evolve our solutions.</p>
            </div>
        </div>
        <div class="values-col">
            <div class="values-item">
                <h4>Strive for excellence</h4>
                <div class="values-icon">
                    <img src="assets/images/shape/icon-4.png"/>
                </div>
                <p>We strive for excellence! We want to continuously delight our customers. Everyday we work towards this goal. We love seeing happy customers!</p>
            </div>
        </div>
        <div class="values-col">
            <div class="values-item">
                <h4>Community</h4>
                <div class="values-icon">
                    <img src="assets/images/shape/icon-5.png"/>
                </div>
                <p>We believe in a strong community. We love bringing people together and helping individuals and businesses thrive and succeed.</p>
            </div>
        </div>
    </div>
</section>

<section class="a-section-9" style=" background: url('assets/images/shape/shape-20.png') no-repeat left center,  url('assets/images/shape/shape-21.png') no-repeat right center;">
    <div class="contact-wrap-bg" style="background-image: url('assets/images/shape/shape-22.gif')">
        <h2>Join Quickmints today <span>for Free!</span></h2>
        <a  class="ab-btn-signup" style="background-image: url('assets/images/shape/shape-23.gif')" (click)="openRegisterDialog()">Sign Up!</a>
    </div>
</section>