<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Registered Class <strong>List</strong></h1>
    </div>
    <!-- <div class="trainer-item-row" *ngFor="let class of bookinglist">
        <p>{{class}}</p>
        </div> -->
</section>
<!-- Banner end -->
<!-- Body content start -->
<section class="common-inner-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <app-filter-class (onValueChanged)=onValueChanged($event)></app-filter-class> -->
            </div>

            <div class="col-lg-12">
                <div class="flex-top-btns-row">
                    <div class="" *ngIf="userType=='1'">
                        <ul class="topTab">
                            <li>
                                <!-- <span class="text-center" [routerLink]="['/service-list']">General Services</span> -->
                                <span class="text-center" (click)="noaccess()">General Services</span>
                              <span class="active text-center" >Class Services</span>
                              
                          </li>
                            <!-- <li><span [routerLink]="['/provider-add']">Add Genral Services</span></li> -->
                        </ul>
                    </div>
                    <div class="" *ngIf="userType=='1'">
                        <button class="btn details-btn mb-4 reg-new" [routerLink]="['/register-class']">Add  New  Class </button>
                    </div>
                </div>
                <div class="trainer-item-row" *ngFor="let class of allClasslist">
                    <div class="trainer-item">
                        <!-- <div class="trainer-img" style="background-image:url('assets/images/trainer-img-1.png')">
                        </div> -->

                        <div class="trainer-img" [ngStyle]="{'background-image':'url('+ photoUrl + class.class_image + ')'}" (click)="gotoDetails(class)">
                        </div>
                        <div class="flex-right-box">
                            <div class="flex-inner-bx">
                                <div class="trainer-item-info flx-inner-cont">
                                    <h2 (click)="gotoDetails(class)">{{class.class_title}}</h2>
                                    
                                    <p><span class="lab">Class For :</span>   <span class="cont">{{class.overview}} </span></p>
                                    <p><span class="lab">Class Type :</span>   <span class="cont">{{class.class_category.name}} </span></p>
                                    <p><span class="lab">Total Seats :</span> <span class="cont">{{class.total_strenght}}</span></p>
                                    <p><span class="lab">Available Seat :</span> <span class="cont">{{class.available_set}}</span></p>
                                    <!-- <p><span class="lab">Current Strenght :</span> <span class="cont">{{class.booked_students.length}}</span></p> -->
                                    <p><span class="lab">Start Date :</span> <span class="cont">{{class.strat_date | date:'mediumDate': '+0000': 'en-ZA'}}</span></p>
                                    <p><span class="lab">Start Time :</span> <span class="cont">{{class.start_tiem | date:'shortTime' : '+0000': 'en-ZA'}} PST</span></p>
                                    <p><span class="lab">Cost :</span> <span class="cont">$ {{class.class_fees}}</span></p>
                                </div>

                                <!--join meeting for provider-->
                                <div class="flx-inner-btn flx-inner-btn text-right">
                                    <button  (click)="editclass(class)" class="btn details-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button  (click)="duplicate(class)" class="btn details-btn"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                <button  (click)="delete(class)" class="btn details-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                                <!--join meeting for user-->
                                <!-- <div class="flx-inner-btn flx-inner-btn text-right" *ngIf="userType=='2'">
                                   
                                    <div>
                                    <div *ngIf="bookinglist.includes(class._id)">
                                    <button #meeting  [disabled]="meetingEnable(class.start_tiem,class.end_time)" (click)="joinMeeting(class)" class="btn details-btn"><i class="fa fa-video-camera" aria-hidden="true"></i>Join Meeting</button>
                                    </div>
                                    <button *ngIf="!bookinglist.includes(class._id)" (click)="makePayment(class)" class="btn details-btn"><i class="fa fa-video-camera" aria-hidden="true"></i> Book Now</button>
                                    </div>
                                    
                                    <button (click)="gotoDetails(class)"  class="btn details-btn mt-3"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</button>
                                </div> -->
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>