<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1><strong>Pricing</strong></h1>
    </div>
</section>
<!-- Banner end -->
 <!-- Body content start -->
 <section class="common-inner-bg-wrap">
    <div class="container">
        <!--BLOCK ROW START-->
        <div class="row">
            <div class="col-lg-4">
              <!--PRICE CONTENT START-->
                <div class="pricing-content">
                    <!--HEAD PRICE DETAIL START-->
                    <div class="pricing-head-price">
                        <!--HEAD CONTENT START-->
                        <div class="pricing-head-content">
                          <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head">
                                <h3>Starter</h3>
                                <p>Teach streaming or in-person classes + private sessions</p>
                            </div>
                            <!--//HEAD END-->
                        </div>
                        <!--//HEAD CONTENT END-->
                        <!--PRICE START-->
                        <div class="pricing-price-tag">  
                            <span class="price">
                                <span class="sign">$</span>
                                <span class="currency">20.10</span>
                                <span class="month">/MO</span>
                            </span>
                            <p>8% transaction fee + Stripe fees</p>
                        </div>
                        <!--//PRICE END-->
                        
                    </div>                            
                    <!--//HEAD PRICE DETAIL END-->
                    <div class="pricing-team-list">
                        <ul>
                            <li>1 Team Member</li>
                            <li>5 Videos</li>
                        </ul>
                    </div>
                    <!--FEATURE LIST START-->
                    <div class="pricing-feature-list">
                        <ul>
                            <li>Schedule group classes</li>
                            <li>Zoom integration</li>
                            <li>Appointments and private training</li>
                            <li>Workshops + events</li>
                            <li>Custom widgets with website builders</li>
                            <li>After class reviews</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->
                    <!--BUTTON START-->
                    <div class="pricing-price-btn">
                      <a class="" href="#">GET STARTED</a>
                    </div>
                    <!--//BUTTON END-->
                </div>
                <!--//PRICE CONTENT END-->
            </div>
            
            <div class="col-lg-4">
              <!--PRICE CONTENT START-->
                <div class="pricing-content">
                    <!--HEAD PRICE DETAIL START-->
                    <div class="pricing-head-price">
                        <!--HEAD CONTENT START-->
                        <div class="pricing-head-content">
                          <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head">
                                <h3>Pro</h3>
                                <p>Offer video content on-demand and membership subscriptions.</p>
                            </div>
                            <!--//HEAD END-->
                        </div>
                        <!--//HEAD CONTENT END-->
                        <!--PRICE START-->
                        <div class="pricing-price-tag">  
                            <span class="price">
                                <span class="sign">$</span>
                                <span class="currency">19.20</span>
                                <span class="month">/MO</span>
                            </span>
                            <p>3% transaction fee + Stripe fees</p>
                        </div>
                        <!--//PRICE END-->
                    </div>                            
                    <!--//HEAD PRICE DETAIL END-->
                    <div class="pricing-team-list">
                        <ul>
                            <li>1 Team Member</li>
                            <li>Unlimited Videos</li>
                        </ul>
                    </div>
                    <!--FEATURE LIST START-->
                    <div class="pricing-feature-list">
                        <ul>
                            <li>Unlimited on-demand library</li>
                            <li>Class packages + memberships</li>
                            <li>Courses + programs</li>
                            <li>Client management</li>
                            <li>Promo codes + gift cards</li>
                            <li>Referral program</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->
                    <!--BUTTON START-->
                    <div class="pricing-price-btn">
                      <a class="" href="#">START FREE TRIAL</a>
                    </div>
                    <!--//BUTTON END-->
                </div>
                <!--//PRICE CONTENT END-->
            </div>
            <div class="col-lg-4">
              <!--PRICE CONTENT START-->
                <div class="pricing-content">
                    <!--HEAD PRICE DETAIL START-->
                    <div class="pricing-head-price">
                        <!--HEAD CONTENT START-->
                        <div class="pricing-head-content">
                          <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head">
                                <h3>Teams</h3>
                                <p>Run advanced reports and manage permissions for your team</p>
                            </div>
                            <!--//HEAD END-->
                        </div>
                        <!--//HEAD CONTENT END-->
                        <!--PRICE START-->
                        <div class="pricing-price-tag">  
                            <span class="price">
                                <span class="sign">$</span>
                                <span class="currency">29.90</span>
                                <span class="month">/MO</span>
                            </span>
                            <p>Custom transaction fees + Stripe fees</p>
                        </div>
                        <!--//PRICE END-->
                    </div>                            
                    <!--//HEAD PRICE DETAIL END-->
                    <div class="pricing-team-list">
                        <ul>
                            <li>Unlimited Team Members</li>
                            <li>Unlimited Videos</li>
                        </ul>
                    </div>
                    <!--FEATURE LIST START-->
                    <div class="pricing-feature-list">
                        <ul>
                            <li>Dedicated account management</li>
                            <li>Dedicated support for your team</li>
                            <li>Unlimited team members</li>
                            <li>Staff management</li>
                            <li>Payroll reporting</li>
                            <li>Unlimited team members</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->
                    
                    <!--BUTTON START-->
                    <div class="pricing-price-btn">
                      <a class="" href="#">REQUEST A DEMO</a>
                    </div>
                    <!--//BUTTON END-->
                    
                </div>
                <!--//PRICE CONTENT END-->
                    
            </div>
        </div>  
        <!--//BLOCK ROW END-->
    </div>
</section>
 <!-- Body content end -->
