<section class="inner-banner">
    <div class="container">
        <h1>How it
            <strong> Works</strong>
        </h1>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="abt-title">
                Explore
                <strong>classes, services,</strong> post your needs,
                <br> all in one place!
            </h1>
            <p class="my-3">
                Quickmints is a great place to explore classes and services, message professionals and businesses, book and pay in seconds!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom: 130px;">
            <h5 class="my-2">
                Your time matters..so do more of what you love!
            </h5>
            <p class="my-3">
                with scheduling hassles and interruptions gone,your day is cleared for accomplishment.
            </p>
            <button class="btn details-btn reg-new" (click)="openRegisterDialog()">Sign Up</button>
        </div>
    </div>
    <div class="row an-padding-top-60">
        <div class="col-md-12 text-center">
            <h3 class="ab-co-title">How Quickmints
                <span>Works</span>
            </h3>
            <!-- <p class="ab-co-sub">
                The first thing to keep in mind is that your About Us page is not just about
            </p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 an-margin-top-40">
            <div class="How-det">
                <div class="How-top">
                    <img src="assets/images/Works1.jpeg" alt="">
                </div>
                <div class="How-bottom">
                    <h3>
                        Search
                    </h3>
                    <p>
                        Browse events, services, packages, appointments, classes and many more
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 an-margin-top-40">
            <div class="How-det">
                <div class="How-top">
                    <img src="assets/images/Works2.jpeg" alt="">
                </div>
                <div class="How-bottom">
                    <h3>
                        Sign up, book & pay
                    </h3>
                    <p>
                        Register, book appointments, pay for services
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 an-margin-top-40">
            <div class="How-det">
                <div class="How-top">
                    <img src="assets/images/Works3.jpeg" alt="">
                </div>
                <div class="How-bottom">
                    <h3>
                        Done,Relax
                    </h3>
                    <p>
                        Get reminders, and enjoy!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="an-video-wrap text-center">
        <img src="assets/images/shape/GIF-White-background-high-speed.gif"/>
    </div>
    <div class="row Why-Join an-padding-bottom-60">
        <div class="col-md-6">
            <img src="assets/images/why4.jpg" alt="" class="w-100">
        </div>
        <div class="col-md-6">
            <h3 class="ab-co-title">Why Quickmints?</h3>
            <div class="Why-Join-details">
                <ul>

                    <li>
                        <span class="fr-num">
                            1
                        </span>
                        <span class="tex-cont">
                            The largest platform for services
                        </span>
                    </li>
                    <li>
                        <span class="fr-num">
                            2
                        </span>
                        <span class="tex-cont">
                            Find everything you need in one place.
                        </span>
                    </li>
                    <li>
                        <span class="fr-num">
                           3
                        </span>
                        <span class="tex-cont">
                            Explore, book and manage all in one place.
                        </span>
                    </li>

                    <li>
                        <span class="fr-num">
                           4
                        </span>
                        <span class="tex-cont">
                            Because you deserve the best
                        </span>
                    </li>
                    <li>
                        <span class="fr-num">
                           5
                        </span>
                        <span class="tex-cont">
                            Save time! Book in less than a minute!
                        </span>
                    </li>
                    
                </ul>
                <button class="btn details-btn reg-new" (click)="openRegisterDialog()">Sign Up</button>
            </div>
        </div>
        
    </div>
    <div class="row an-padding-top-60 an-padding-bottom-60">
        <div class="col-md-6">
            <h3 class="ab-co-title">Technology that cares about people</h3>
            <p class="ab-co-sub">
                We care about people and understanding their pain points. We love to continuously innovate to provide simple and easy solutions to our customers and partners.
Booking a service on Quickmints should be as easy as eating a cake!
We are a platform that connects people to service providers either in your local community or online. Join Quickmints community today!
            </p>
        </div>
        <div class="col-md-6">

            <img src="assets/images/why.png" alt="" class="w-100">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn details-btn reg-new">Sign Up</button>
        </div>
    </div> -->

</section>