<!-- Banner start -->
<section class="inner-banner">
    
    <div class="container" >
        <h1><strong>Upcoming Classes</strong></h1>
    </div>
</section>

<!-- Body content start -->
<section class="common-inner-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- <app-filter-class></app-filter-class> -->
                
  
        <div class="panel-group">
            
            <div class="sidebar-items">
              <!-- <div class="form-check">
                <input class="form-check-input" type="radio"  value="ONLINE" (change)="onTypeChange_class($event.target.value)" >
                <label class="form-check-label" for="exampleRadios1">
                 Online
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio"  value="INPERSON" (change)="onTypeChange_class($event.target.value)">
                <label class="form-check-label" for="exampleRadios2">
                 Inperson
                </label>
              </div> -->
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse1">
                    Class Type
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse show">
                <a  (click)="clear_classtype()" class="dropdown-item "> <span class="clearSearch"></span>Clear all</a>
                  <div class="panel-body">
                      <label class="radio-item">
                      <input type="radio" name="activity_type" [(ngModel)]="activity_type" value="ONLINE"  (change)="onTypeChange_class($event.target.value)">
                      <span class="checkmark"></span>
                      <span class="radio-label">Online</span>
                      </label>
                      <label class="radio-item">
                      <input type="radio" name="activity_type" [(ngModel)]="activity_type" value="INPERSON" (change)="onTypeChange_class($event.target.value)">
                      <span class="checkmark"></span>
                      <span class="radio-label">In-Person</span>
                      </label>
                  </div>
              </div>
            </div>
            <div class="sidebar-items">
              <!-- <div class="form-check">
                <input class="form-check-input" type="radio"  value="KIDS" (change)="onTypeChange($event.target.value)" >
                <label class="form-check-label" >
                 Kids
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio"  value="ADULTS" (change)="onTypeChange($event.target.value)">
                <label class="form-check-label" >
                 Adults
                </label>
              </div> -->
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse2">
                    User Type
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse show">
                <a  (click)="clear_serach()" class="dropdown-item"><span class="clearSearch"></span>Clear all</a>
                  <div class="panel-body">
                      <label class="radio-item">
                      <input type="radio" name = "overview" [(ngModel)]="overview" value="KIDS"  (change)="onTypeChange($event.target.value)">
                      <span class="checkmark"></span>
                      <span class="radio-label">Kids</span>
                      </label>
                      <label class="radio-item">
                      <input type="radio"  name = "overview" [(ngModel)]="overview" value="ADULTS"  (change)="onTypeChange($event.target.value)">
                      <span class="checkmark"></span>
                      <span class="radio-label">Adults</span>
                      </label>
                  </div>
              </div>
            </div>

            <div class="sidebar-items">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse3">
                    Category
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <a  (click)="clear_category()" class="dropdown-item">Clear Search</a>
                  <div class="panel-body">
                    
                    <label class="checkbox-item"  *ngFor="let data of classcategory let i=index">
                      <input type="checkbox" (change)="serachbyid($event,data._id,i)" name="acs" value={{data._id}}>
                      <span class="checkmark"></span>
                      <span class="checkbox-label">{{data.name}}</span>
                    </label>
                      <!-- <a  (click)="serachbyid(data._id)" class="dropdown-item"
                          *ngFor="let data of classcategory">{{data.name}}</a> -->
                  </div>
              </div>
            </div>

            <div class="sidebar-items">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse4">
                    Price Range
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <!-- <a  (click)="clear_serach('Price')" class="dropdown-item">Clear Search</a> -->
                  <div class="panel-body">
                      <label class="radio-item" *ngFor="let item of priceRangeArr">
                        <!-- <input type="radio" name = "price_range" value={{item.id}} [(ngModel)]="price_range"  (change)="PriceSearch($event)">
                        <span class="checkmark"></span>
                        <span class="radio-label"> $ {{item.name}}</span> -->
                        <input type="checkbox" (change)="PriceSearch($event)"  value={{item.id}} name = "price_range">
                          <span class="checkmark"></span>
                          <span class="checkbox-label">$ {{item.name}}</span>
                        </label>
                        
                  </div>
              </div>
            </div>

            <!-- <div class="sidebar-items" *ngIf="Student_type =='KIDS'">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse5">
                    Grade Range
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                
                  <div class="panel-body">
                    
                      <label class="radio-item" *ngFor="let item of gradeRangeArr" >
                        <input type="radio" name = "create_class.grade" value={{item}}  (change)="GradeSearch($event.target.value)">
                        <span class="checkmark"></span>
                        <span class="radio-label">{{item}} </span>
                        </label>
                      
                  </div>
              </div>
            </div> -->
            <div class="sidebar-items" *ngIf="Student_type =='KIDS'">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#collapse6">
                      Age Range
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <!-- <a  (click)="clear_serach('Category')" class="dropdown-item">Clear Search</a> -->
                    <div class="panel-body" >
                      
                      <!-- <label class="radio-item" *ngFor="let item of ChildageRangeArr" >
                        <input type="radio" name = "create_class.kids" value={{item}}  (change)="ageSerach($event.target.value)">
                        <span class="checkmark"></span>
                        <span class="radio-label">{{item}} </span>
                        </label> -->
                        <label class="checkbox-item ageblock"  *ngFor="let data of ChildageRangeArr let i=index">
                          <input type="checkbox" (change)="ageSerach($event)"  value={{data}}>
                          <span class="checkmark"></span>
                          <span class="checkbox-label">{{data}}</span>
                        </label>
                    </div> 

                   
                </div>
            </div>


            <div class="sidebar-items" *ngIf="Student_type =='ADULTS'">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse6">
                    Age Range
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse ">
                <!-- <a  (click)="clear_serach('Category')" class="dropdown-item">Clear Search</a> -->

                  <div class="panel-body">
                      <!-- <label class="radio-item" *ngFor="let item of AdultageRangeArr" >
                        <input type="radio" name = "create_class.adultrange" value={{item.id}}  (change)="ageSerach($event.target.value)">
                        <span class="checkmark"></span>
                        <span class="radio-label">{{item.age}} </span>
                        </label> -->
                        <label class="checkbox-item ageblock"  *ngFor="let data of AdultageRangeArr let i=index">
                          <input type="checkbox" (change)="ageSerach($event)"  value={{data.id}}>
                          <span class="checkmark"></span>
                          <span class="checkbox-label">{{data.age}}</span>
                        </label>
                  </div>
              </div>
          </div>
            <div class="sidebar-items" *ngIf="Class=='INPERSON'">
                <div class="panel-heading">
                  <h4 class="panel-title" data-toggle="collapse" data-target="#collapse7">
                      Distance
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <!-- <a  (click)="clear_distance()" class="dropdown-item">Clear Search</a> -->
                    <div class="panel-body">
                        <!-- <a  (click)="clear_serach()" class="dropdown-item">Clear Search</a> -->
              
                          <label class="radio-item" *ngFor="let item of distance">
                            <input type="radio" name = "create_class.distance" value={{item.distance}}   (change)="distanceSerach($event.target.value)">
                            <span class="checkmark"></span>
                            <span class="radio-label">{{item.distance}} Miles</span>
                            </label>
                          <!-- <a *ngFor="let item of distance" (click)="distanceSerach(item)" class="dropdown-item">{{item}}</a> -->
                    </div>
                </div>
            </div>

            <div class="sidebar-items" >
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse7">
                    Dates
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <a  (click)="clear_date()" class="dropdown-item"><span class="clearSearch"></span>Clear all</a>
                <div class="panel-body">
                  <label class="radio-item">
                  <input type="radio" name = "dates_check" [(ngModel)]="dates_check" value="Today"  (change)="ondates_checkChange($event.target.value)">
                  <span class="checkmark"></span>
                  <span class="radio-label">Today</span>
                  </label>
                  <label class="radio-item">
                  <input type="radio"  name = "dates_check" [(ngModel)]="dates_check" value="Tomorrow"  (change)="ondates_checkChange($event.target.value)">
                  <span class="checkmark"></span>
                  <span class="radio-label">Tomorrow</span>
                  </label>

                  <label class="radio-item">
                    <input type="radio"  name = "dates_check" [(ngModel)]="dates_check" value="Customdate"  (change)="ondates_checkChange($event.target.value)">
                    <span class="checkmark"></span>
                    <span class="radio-label">Custom Date</span>
                    </label>

                    <label *ngIf="custom_date_check">
                      <input type="date" [(ngModel)]="customdate" (change)="addToKeywords()">
                      
                      </label>
              </div>
              </div>
          </div>

            <div class="sidebar-items">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse8">
                    Class Format
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <!-- <a  (click)="clear_serach('Format')" class="dropdown-item">Clear Search</a> -->
                  <div class="panel-body">
                      <!-- <a  (click)="clear_serach()" class="dropdown-item">Clear Search</a> -->
            
                        <!-- <label class="radio-item">
                          <input type="radio" name = "create_class.overview" value="SINGELDAY"  (change)="distanceSerach($event.target.value)">
                          <span class="checkmark"></span>
                          <span class="radio-label">{{item.distance}} Miles</span>
                          </label> -->
                          <label class="checkbox-item">
                            <input type="checkbox" value="one-on-one"  (change)="FormatSerach($event)">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">One-on-One Class</span>
                          </label>
                          <label class="checkbox-item">
                            <input type="checkbox" value="SINGELDAY"  (change)="FormatSerach($event)">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">One-time Class (Single day)</span>
                          </label>
                          <label class="checkbox-item">
                            <input type="checkbox" value="MONTHLY"  (change)="FormatSerach($event)">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">Ongoing Class (Monthly)</span>
                          </label>
                          <label class="checkbox-item">
                            <input type="checkbox" value="SEMESTER"  (change)="FormatSerach($event)">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">Semester Course</span>
                          </label>

                        <!-- <a *ngFor="let item of distance" (click)="distanceSerach(item)" class="dropdown-item">{{item}}</a> -->
                  </div>
              </div>
          </div>
          
      </div>

            </div>
           
            <div class="col-lg-9 mrt-lg-20" >
                <!-- <div class="row">
                    <div class="col-sm-12 text-right" *ngIf="userType=='1'">
                        <button class="btn details-btn mb-4 reg-new" [routerLink]="['/register-class']">Register a New  Class </button>
                    </div>
                    <div class="col-sm-12 text-right">
                      
                        <select [(ngModel)]="date_sorting" (change)="sortbydate()">
                            <option value="" [disabled]="true" [selected]="true">Sort By</option>
                            <option value="descending">New</option>
                            <option value="ascending">Old</option>
                          </select>

                    </div>
                    
                </div> -->
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <!-- <label class="d-block">Class category</label> -->
                        <select class="form-control" [(ngModel)]="date_sorting" (change)="sortbydate()">
                            <!-- <option value="" [disabled]="true" [selected]="true">Sort By</option> -->
                            <!-- <option value="descending">Newest</option> -->
                            <option value="ascending">Starting Soon</option>
                            <option value="current">Current Month</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="col-md-2"></div> -->
                  </div>

                
                <div class="trainer-item-row" *ngFor="let class of allClasslist">
                    <div class="trainer-item">
                        <div class="trainer-img" [ngStyle]="{'background-image':'url('+ photoUrl + class.class_image + ')'}" (click)="gotoClassDetails(class)">
                        </div>
                        <!-- <div class="trainer-img" (click)="gotoClassDetails(class)">
                            <img src="{{photoUrl}}{{class.class_image}}"  />
                        </div> -->
                        
                        <div class="flex-right-box">
                            <div class="flex-inner-bx">
                                <div class="trainer-item-info flx-inner-cont">
                                    <h2 (click)="gotoClassDetails(class)">{{class.class_title}}</h2>
                                    
                                    <p><span class="lab">Class By :</span>   <span class="cont">{{class.provider_id.UserFullName}} </span></p>
                                    <p *ngIf="class.ratingreview !=null" class="rates">
                                      <!-- <ngx-star-rating [(ngModel)]="class.ratingreview.avg" [disabled]="true"></ngx-star-rating> -->
                                      <span *ngFor="let numbs of getNumber(class.ratingreview.avg)"><i class="fa fa-star" aria-hidden="true"></i></span> {{class.ratingreview.count}} Reviews
                                    </p>
                                    <p><span class="lab">Class Type :</span>   <span class="cont">{{class.class_category.name}} </span></p>
                                    <p><span class="lab">Class Size:</span> <span class="cont">{{class.total_strenght}}</span></p>
                                    <p><span class="lab">Available Slots:</span> <span class="cont">{{class.available_set}}</span></p>
                                    <p><span class="lab">Start Date :</span> <span class="cont">{{class.strat_date | date:'mediumDate' : '+0000': 'en-ZA'}}</span></p>
                                    <P *ngIf="class.select_day !=null">
                                      <span class="lab">Class Days :</span>
                                      <span class="cont">{{getclassDay(class.select_day)}}</span>
                                    </P>
                                    <p><span class="lab">Class Time :</span> <span class="cont">{{class.start_tiem | date:'shortTime' : '+0000': 'en-ZA'}} To {{class.end_time | date:'shortTime' : '+0000': 'en-ZA'}} PST</span></p>
                                    <p><span class="lab">Cost :</span> <span class="cont">$ {{class.class_fees}}</span></p>
                                </div>
                                <!-- <div class="flx-inner-btn flx-inner-btn text-right" >
                                    
                                    <div>
                                    <div *ngIf="bookinglist.includes(class._id)">
                                    <button #meeting  [disabled]="meetingEnable(class.start_tiem,class.end_time)" (click)="joinMeeting(class)" class="btn details-btn"><i class="fa fa-video-camera" aria-hidden="true"></i>Join Meeting</button>
                                    </div>
                                    <div>
                                    <button *ngIf="!bookinglist.includes(class._id) && token !=null" (click)="makePayment(class)" class="btn details-btn"><i class="fa fa-video-camera" aria-hidden="true"></i> Book Now</button>
                                   </div>
                                   
                                    <button *ngIf="token ==null" (click)="openLoginDialog()" class="btn details-btn"><i class="fa fa-video-camera" aria-hidden="true"></i> Book Now</button>
                                    </div>
                                   
                                    <button (click)="gotoDetails(class)"  class="btn details-btn mt-3"><i class="fa fa-info-circle" aria-hidden="true"></i> Service Details</button>
                                    <button *ngIf="userType=='2'" (click)="gotoClassDetails(class)"  class="btn details-btn mt-3"><i class="fa fa-info-circle" aria-hidden="true"></i> Class Details</button>
                                </div> -->
                                <div class="flx-inner-btn flx-inner-btn text-right">
                                    <div class="right-btn-flex-box" *ngIf="token !=null">
                                           
                                        <button  class="btn details-btn" (click)="bookclss(class)"><img src="assets/images/online-booking-icon.png"/></button>
                                        <button class="btn details-btn" (click)="gotoClassDetails(class)" ><img src="assets/images/view-icon-md.png"/></button>
                                    </div>
                                    <div class="right-btn-flex-box" *ngIf="token ==null">
                                            <!-- <i class="fa fa-video-camera" aria-hidden="true" *ngIf="class.class_type=='ONLINE'" ></i>  -->
                                        <button class="btn details-btn" (click)="openLoginDialog(class._id)"><img src="assets/images/online-booking-icon.png"/></button>
                                        <button class="btn details-btn" (click)="gotoClassDetails(class)" ><img src="assets/images/view-icon-md.png"/></button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <mat-paginator  #paginator (page)="paginationChange($event)" [length]="count" [pageSize]="25" [pageSizeOptions]="[25, 50]"></mat-paginator>
</section>




