<!-- Banner start -->
<section class="inner-banner">
  <div class="container">
    <h1>My Credentials</h1>
  </div>
</section>
<!-- Banner end -->
<section class="container">
  <div class="row">

    <div class="form-group custom-input-field col-md-12">
     
    <ckeditor [(ngModel)]="mycontent" 
        #myckeditor="ngModel"
        name="myckeditor"
        required
        [config]="ckeConfig" 
        debounce="500" 
        (change)="onChange($event)">
    </ckeditor>
    <div class="custom-input-field text-center col-md-12">
        <button type="submit" class="btn btn-submit" (click)="onSubmit()">
        Submit
        </button>
    </div>
   
  </div>

  </div>
</section>