<h2 class="mb-4">Rate this Provider<h2>

    <form [formGroup]="form">
        <div class="cont">
          <div class="stars">
            <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
          </div>
          <!-- <div class="rating-color">Rating: {{form.value.rating1}}</div> -->
          <div>
            <input class="mb-3 mt-3" placeholder="Enter your review" formControlName="review1">
          </div>
         
        </div>
        <button  type="submit" class="btn mb-3 mr-1 mybtn" (click)="onSubmit()">Provide Feedback</button>
        <button class="btn mb-3 mybtn" (click)="closeDialog()">Cancel</button>
    </form>