<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Provider
            <strong>Details</strong>
        </h1>
    </div>
</section>
<!-- Banner end -->
<!-- Body content start -->
<!-- <section class="common-inner-bg-wrap">
    <div class="container">
        <div class="row services-detailstop">
            <div class="col-md-12">
                <div class="profile-img">
                    <img src="../../assets/images/trainer-img-2.png" alt="">
                    <img src="{{photoUrl}}/{{providerData.providerdetails.UserPhoto}}">
                </div>

                <div class="ser-det-right">
                    <div class="ser-det-right-com-btn">
                       <button class="btn btn-block" (click)="follow()" *ngIf='following==true'>
                        <i class="fa fa-users" aria-hidden="true"></i> Follow
                       </button>
                       <button class="btn btn-block" (click)="unfollow()"  *ngIf='following==false'>
                        <i class="fa fa-users" aria-hidden="true"></i> UnFollow
                       </button>
                       <button class="btn  btn-block" (click)="like()" *ngIf='liking==true'>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
                       </button>
                       <button class="btn  btn-block" (click)="unlike()" *ngIf='liking==false'>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> UnLike
                       </button>
                       <button class="btn  btn-block">
                        <i class="fa fa-comments-o" aria-hidden="true"></i> Message
                       </button>
                    </div>
                    <div class="img-video">
                        <h4>Some Video/Photos</h4>
                        <div class="img-and-vid-list">
                            <div class="imd-video-list" *ngFor='let item of providerGallery | slice:0:3'>
                                
                                <img src="{{photoUrl}}/{{item}}" alt="">
                               
                            </div>
                            <a class="viewAll1" href="javascript:void(0);" (click)="ViewImage()">View all</a>
                            
                        </div>
                    </div>

                    
                    <div class="sherar-opction">
                        <span>Share</span> 
                        <ul>
                            <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/fb.png" alt=""></a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/gp.png" alt=""></a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/ins.png" alt=""></a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/tw.png" alt=""></a></li>
                            <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/wh.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-block vi-li-f-aq">
                   <div class="flo-lik">
                    <span>{{follow1}} Followers </span> <span>{{like1}} Likes</span>
                   </div>   <button class="btn">Ask a questions</button><button class="btn" (click)="RateService('abc')">Provide Feedback</button>
                </div>
            </div>
        </div>
        <div class="row services-detailsbottom mt-5">
            <div class="col-md-12 mb-4">
                <h4 class="mb-3 service-title">
                    Credentials
                </h4>
                <div [innerHTML] = "page"></div>
            </div>
            <div class="col-md-12 my-4">
                <h4 class="service-title">Schedule</h4>
                <div class="sud-clan d-block">
                    <h5 class="schedule-date-title text-center">January 03,2021 - January 10, 2021</h5>
                    <p class="schedule-sub-title text-center">All times listed are in your local time zone</p>
                    <div class="table-responsive schedule-table">
                        <table class="table table-bordered text-center">
                            <tbody>
                                <tr>
                                    <td class="align-middle">08:00am</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">09:00am</td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">10:00am</td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">11:00am</td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                    <td><span class="schedule-add"></span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="sud-btm-det d-flex mt-4">
                    <div class="sud-btm-det-cont" *ngFor='let item of otherClass | slice:0:3;' >
                        <div>
                        <h3>
                            {{item.title}}
                        </h3>
                        <p>
                            Classes for : {{item.class_for}}
                        </p>
                        <p>
                           Price: {{item.price}}
                        </p>
                        <p>
                           Start : {{item.start_tiem | date:'medium'}}
                         </p>
                         <p>
                            End : {{item.end_time | date:'medium'}}
                         </p>
                        </div>
                    </div>
                </div>
                <a class="viewAll2" href="javascript:void(0);" (click)="ViewClasses()">View all</a>

            </div>

            <div class="col-md-12 mb-4">
                <h4 class="mb-2 service-title">
                    Reviews
                </h4>
                <p>Customer's rating for this provider:</p>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <h4 class="rating">
                            {{averageRating}}.0
                        </h4>
                       
                        <div class="propular_rate">
                                
                            <div class="cont">
                                <div class="stars popularStarRating">
                                    <ngx-star-rating [(ngModel)]="averageRating" [disabled] ="true"></ngx-star-rating>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                            <ul class="str-rating">
                                <div>
                                <li *ngIf="averageRating==5">
                                    <div class="for-star">
                                       5 <i class="fa fa-star f3" aria-hidden="true"></i>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <div class="for-prt">
                                        100%
                                      </div>
                                </li>
                                <li *ngIf="averageRating!=5">
                                    <div class="for-star">
                                       5 <i class="fa fa-star f3" aria-hidden="true"></i>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <div class="for-prt">
                                        0%
                                      </div>
                                </li>
                                </div>


                                <div>
                                    <li *ngIf="averageRating==4">
                                        <div class="for-star">
                                           4 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            80%
                                          </div>
                                    </li>
                                    <li *ngIf="averageRating!=4">
                                        <div class="for-star">
                                           4 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            0%
                                          </div>
                                    </li>
                                </div>

                                <div>
                                    <li *ngIf="averageRating==3">
                                        <div class="for-star">
                                           3 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            60%
                                          </div>
                                    </li>
                                    <li *ngIf="averageRating!=3">
                                        <div class="for-star">
                                           3 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            0%
                                          </div>
                                    </li>
                                </div>

                                <div>
                                    <li *ngIf="averageRating==2">
                                        <div class="for-star">
                                           2 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            40%
                                          </div>
                                    </li>
                                    <li *ngIf="averageRating!=2">
                                        <div class="for-star">
                                           2 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            0%
                                          </div>
                                    </li>
                                </div>

                                <div>
                                    <li *ngIf="averageRating==1">
                                        <div class="for-star">
                                           1 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            20%
                                          </div>
                                    </li>
                                    <li *ngIf="averageRating!=1">
                                        <div class="for-star">
                                           1 <i class="fa fa-star f3" aria-hidden="true"></i>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                          <div class="for-prt">
                                            0%
                                          </div>
                                    </li>
                                </div>
                           </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <h4 class="mb-2 service-title">
                    FAQs
                </h4>
                <div *ngFor="let item of providerData.faqmodel" class="mb-4">
                <h5 class="mb-2"><strong>{{item.question}}</strong></h5>
                <p>
                    {{item.answer}}
                </p>
            </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Body content start -->
<section class="common-inner-bg-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="pd-profile-details">
                    <div class="pd-profile-img" *ngIf="providerData.providerdetails.UserPhoto !=null">
                        <img src="{{photoUrl}}/{{providerData.providerdetails.UserPhoto}}">
                    </div>
                    <div class="pd-profile-img" *ngIf="providerData.providerdetails.UserPhoto ==null">
                        <img src="assets/images/no_profile_pic.png">
                    </div>
                    <div class="pd-profile-info">
                        <h3>{{providerData.providerdetails.UserFullName}}</h3>
                        <div class="pd-profile-rating">
                            <div class="stars popularStarRating">
                                <ngx-star-rating [(ngModel)]="averageRating" [disabled]="true"></ngx-star-rating>
                            </div>
                            <span>{{providerData.providerdetails.averageRating}}</span>
                        </div>
                        <ul class="pd-profile-social-share">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Follow</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="pd-p-share-btn">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i> Share</a>
                            </li>
                        </ul>
                        <ul class="pd-profile-social-share">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-users" aria-hidden="true"></i> {{follow1}} Followers</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{like1}} Likes</a>
                            </li>
                        </ul>
                        <!-- <ul class="pd-profile-service">
                            <li *ngFor="let item of providerData.providerdetails.ProvidedService">
                                {{item.name}}
                            </li>

                        </ul> -->
                    </div>
                </div>
                <div class="pd-btn-btm">
                    <a href="javascript:void(0);">Chat</a>
                    <a (click)="callback()">Request call back</a>
                    <a (click)="goToPostANeed()">Book</a>
                </div>
                <div class="pd-profile-info-content">
                    <p>{{providerData.providerdetails.about_me}}</p>
                </div>
                <div class="pd-profile-slider">
                    <h3>Photos</h3>
                    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding', 'pdp-slider']">
                        <div class="item pdp-photo-item" *ngFor="let item of providerData.providerdetails.gallery">
                            <!-- <img src="../../assets/images/trainer-img-2.png" alt=""> -->
                            <!-- <img src="{{photoUrl}}/{{item}}"> -->
                            <a href="{{photoUrl+item}}" data-lightbox="pdpPhotoImage" [ngStyle]="{'background-image':'url('+ photoUrl+item + ')'}" class="galleryImage"></a>
                        </div>

                    </owl-carousel>
                </div>
                <div class="pd-profile-slider">
                    <h3>Videos</h3>
                    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding', 'pdp-slider']">
                        <div class="item pdp-video-item" *ngFor="let item of providerData.providerdetails.video">

                            <video width="100%" height="160" loop="true" class="videocont" [muted]="false" playsinline controls>
                                <source src="{{photoUrl+item+'?#t=0.8'}}" type="video/mp4" />

                                <canvas id="canvas"></canvas>
                            </video>
                        </div>
                        <!-- <div class="item pdp-video-item">  
                            <video width="100%" height="160" disablePictureInPicture controlsList="nodownload" controls>
                                <source src="assets/video/movie.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="item pdp-video-item">  
                            <video width="100%" height="160" disablePictureInPicture controlsList="nodownload" controls>
                                <source src="assets/video/movie.mp4" type="video/mp4">
                            </video>
                        </div>  
                        <div class="item pdp-video-item">  
                            <video width="100%" height="160" disablePictureInPicture controlsList="nodownload" controls>
                                <source src="assets/video/movie.mp4" type="video/mp4">
                            </video>
                        </div>  -->
                    </owl-carousel>
                </div>
                <div class="pd-profile-slider">
                    <h3>User Reviews</h3>
                    <div *ngIf="rating_list_length>0">
                        <div class="user-reviews-results" *ngFor="let item of rating_list">
                            <a class="result-title" href="#">{{item.created.UserFullName}}</a>
                            <div class="ratings">
                                <div>
                                    <ngx-star-rating [(ngModel)]="item.rating" [disabled]="true"></ngx-star-rating>
    
                                </div>
                                <span class="ratings-date">
                                    {{item.createdAt | date:'mediumDate'}}
                                </span>
                                
                            </div>
                            
                            <p>{{item.review}}</p>
                        </div>
                    </div>

                    <div *ngIf="rating_list_length==0">
                        <div class="user-reviews-results">
                            
                        <h4>No ratings or reviews currently.</h4>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="pd-profile-slider">
                    <h3>User Questions</h3>
                    <div *ngIf="question_list_length > 0">
                        <div class="user-reviews-results" *ngFor="let item of question_list">
                            <a class="result-title" href="#">{{item.question.name}}</a>
                            
                            <p>{{item.question.question_title}}</p>
                        </div>
                    </div>
                    

                    <div *ngIf="question_list_length==0">
                        <div class="user-reviews-results">
                            
                        <h4>No questions available currently.</h4>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="pd-profle-address">
                    <h4>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Address</h4>
                    <p>{{providerData.providerdetails.UserLocation.Address}}</p>
                </div>
                <div class="pd-profle-address social-media-icon">
                    <h4>Social Media</h4>
                    <ul>
                        <li>
                            <a href="{{providerData.providerdetails.facebookUrl}}" target="_blank" rel="noopener noreferrer">
                                <img src="../../assets/images/icon/fb.png" alt="">
                            </a>
                        </li>
                        <!-- <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/gp.png" alt=""></a></li> -->
                        <li>
                            <a href="{{providerData.providerdetails.instagramUrl}}" target="_blank" rel="noopener noreferrer">
                                <img src="../../assets/images/icon/ins.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="{{providerData.providerdetails.twitterUrl}}" target="_blank" rel="noopener noreferrer">
                                <img src="../../assets/images/icon/tw.png" alt="">
                            </a>
                        </li>
                        <!-- <li><a href="#" target="_blank" rel="noopener noreferrer"><img src="../../assets/images/icon/wh.png" alt=""></a></li> -->
                    </ul>
                </div>
                <div class="pd-profle-address upcoming-classes-bx">
                    <h4>Upcoming Classes</h4>
                    <div class="upcoming-classes-row">
                        <div class="upcoming-classes-item" *ngFor="let item of class_list">
                            <div class="upcoming-classes-img" [ngStyle]="{'background-image':'url('+ photoUrl + item.class_image + ')'}"></div>
                            <div class="upcoming-classes-item-info">
                                <h5>{{item.class_title}}</h5>
                                <p>{{item.class_description}}</p>
                                <p>
                                <span><strong>Class size -</strong> {{item.total_strenght}}</span>,
                                <span><strong>Available Slots -</strong> {{item.available_set}}</span>,
                                <span><strong>Cost - </strong> ${{item.class_fees}}</span>
                                </p>
                                <a  class="uc-book-btn" *ngIf="token !=null" (click)="bookclss(item)">Book now</a>
                                <a  class="uc-book-btn" *ngIf="token ==null" (click)="openLoginDialog()">Book now</a>
                            </div>
                        </div>
                       
                    </div>
                    <mat-paginator  #paginator (page)="paginationChange($event)" [length]="count" [pageSize]="5" [pageSizeOptions]="[5,10,25,50]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Body content end -->