<!-- Banner start -->
<section class="inner-banner">
    <div class="container">
        <h1>Service Provider <strong>List</strong></h1>

    </div>
  </section>
  <!-- Banner end -->
  <!-- Body content start -->
  <section class="common-inner-bg-wrap">
    <div class="container">
       <div class="row">
        <!-- <div class="col-sm-12">
            <mat-form-field >
                <mat-label>Status</mat-label>
                <mat-select>
                  <mat-option  value="true" >
                   Online
                  </mat-option>
                  <mat-option value="false">
                    Offline
                   </mat-option>
                   
                </mat-select>
              </mat-form-field>
        </div> -->
        <div class="col-md-3 offset-md-3"></div>
        <div class="col-md-3 offset-md-3">
            <mat-form-field >
                <mat-label>Price</mat-label>
                <mat-select>
                  <mat-option  value="true" >
                   Low to High
                  </mat-option>
                  <mat-option value="false">
                    High to Low
                   </mat-option>
                   
                </mat-select>
              </mat-form-field>
        </div>
       </div>
       
        <div class="row">
            <div class="col-sm-3">
                <app-filter (onValueChanged)=onValueChanged($event)></app-filter>
            </div>
           
            <div class="col-sm-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="PrivateJob">
                <div class="trainer-item-row">
                    <div class="trainer-item" *ngFor="let provider of providersList">
                       

                        <div class="trainer-img" [ngStyle]="{'background-image':'url('+ photoUrl+provider.UserPhoto + ')'}" (click)="gotoDetails(provider._id)">
                        </div>
                      
                        <div class="flex-right-box">
                            <div class="flex-inner-bx">
                                <div class="trainer-item-info">
                                    
                                    <h6 (click)="gotoDetails(provider._id)">{{provider.UserFullName}}</h6>
                                    
                                    
                                    <div class="ratings">
                                        
                                        <star-rating value={{provider.averageRating}} totalstars={{provider.averageRating}} checkedcolor="orange" uncheckedcolor="black" size="24px" readonly="true" ></star-rating>
                                        <span>({{provider.averageRating}})
                                        </span>
                                      </div>
                                      <ul>
                                        <li *ngFor="let item of provider.ProvidedService">
                                            {{item.name}}
                                        </li>
                                    </ul>
                                <p class="location">{{provider.UserLocation.Address}}</p>
                                <p class="about_me">{{provider.about_me}}</p>
                                </div>
                                <div class="call-acpt text-right">
                                    <!-- <a href="javascript:void(0);" class="btn details-btn">Details</a> -->
                                <button (click)="goToPostANeed(provider._id)" class="btn details-btn mb-2" style="display: block;" mat-raised-button>Book</button>
                                <!-- <button (click)="gotoDetails()" class="btn details-btn" style="display: block;" mat-raised-button>Details</button> -->
                                </div>
                                
                            </div>
  
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    </div>
  </section>
  <!-- Body content end -->
  