<!--Home Banner start -->
<section class="banner">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li *ngFor="let banner of banners; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active ' : ''" data-target="#carouselExampleIndicators" data-slide-to="i"></li>

		</ol>
		<div class="carousel-inner">
			<div *ngFor="let banner of banners; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active carousel-item' : 'carousel-item'">
				<div class="banner_text">
					<h2>{{banner.heading}}</h2>
					<p>{{banner.subHeading}}</p>
					<a (click)="redirectTo_details(banner.buttonText)">{{banner.buttonText}}</a>
				</div>
				<div *ngIf="!banner.video">
				<img class="d-block w-100" src="{{photoUrl}}{{banner.image}}" alt="">
				</div>
				<div *ngIf="!banner.image" id="banner-video" width="100%">
					<video class="d-block w-100" [muted]="true" loop autoplay alt="">
						<source src="{{photoUrl}}{{banner.video}}" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Home banner end -->
<!-- Body content start -->
<section class="beauty_clean_service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<owl-carousel-o [options]="customOptions">
					<ng-container *ngFor="let offer of offers; let i = index">
					  <ng-template carouselSlide>
						<div class="beauty_service_box">
							<div class="beauty_service_text">
								<div class="beauty_service_text_inner">
									<h3>{{offer.heading}}</h3>
									<h2>{{offer.subHeading}}</h2>
									<h2>{{offer.offer}}</h2>
									<a href="#" class="book_now">{{offer.buttonText}}</a>
								</div>
							</div>
							<!-- <img src="https://nodeserver.mydevfactory.com:4290/{{offer.image}}" alt="" /> -->
						</div>
					  </ng-template>
					</ng-container>
				</owl-carousel-o>
			</div>
		</div>
	</div>
</section>

<!-- Featured Categories start -->
<section class="featured_category">
	<div class="container">
		<h2><span>Featured Categories</span> (Mix & Matches)</h2>
		<p>What do you need to find?</p>
		<div class="category_feature_main">
			<owl-carousel-o [options]="popularOptions">
				<ng-container *ngFor="let data of categorylisting; let i=index">
					<ng-template carouselSlide class="p-3">
						<div class="category_feature_box"  (click) ="gotoClassList(data)">
							<div class="cat_name">{{data.name}}</div>
							<div class="cat_image" style="background-image: url('{{photoUrl}}{{data.image}}')"></div>
						</div>
					</ng-template>
				</ng-container>
			</owl-carousel-o>
			

			<!-- <div class="row">
				<div class="col-lg-4" [routerLink]="['/sub-category/'+data._id]"
					*ngFor="let data of categorylisting; let i=index">
					<ng-container *ngIf="i<6">
						<div class="category_feature_box">
							<div class="cat_name">{{data.name}}</div>
							<img src="{{data.imageUrl}}" alt="" />
						</div>
					</ng-container>
				</div>
			
			</div> -->
		</div>
		<!-- <div class="view_all_service_btn">
			<a href="#">View All Categories</a>
		</div> -->
	</div>
</section>
<!-- Featured Categories end -->

<!-- Most Popular Services start -->
<!-- <section class="most_propular_service">
	<div class="container">
		<h2>Most Popular <span>Services</span></h2>
		<p>Explore the greates our services. You won’t be disappointed</p>
		<div class="most_propular_service_main">
			<div class="row">
				<div class="col-sm-12">
					<owl-carousel-o [options]="popularOptions" style="width:100%;">
						<ng-container *ngFor="let data of popularServiceList; let i=index" >
						  <ng-template carouselSlide class="p-3">
							<div class="propular_service_box">
								<div class="propular_service_img">
									<img src="https://nodeserver.mydevfactory.com:4290/{{data.image}}" alt="" />
								</div>
								<div class="propular_service_text">
									<h4>{{data.name}}</h4>
									<div class="propular_rate">
										<div class="cont">
											<div class="stars popularStarRating">
												<ngx-star-rating [(ngModel)]="data.rating" [disabled] ="true"></ngx-star-rating>
											</div>
										</div>
									</div>
									
									<div class="clear-both"></div>
									<div class="phone_num1">
										
										{{data.phone}}
									</div>
									
								</div>
							</div>
						  </ng-template>
						</ng-container>
					</owl-carousel-o>
				</div>
				
				
			</div>
		</div>
		<div class="view_all_service_btn">
			<a href="#">View All Services</a>
		</div>
	</div>
	
</section> -->
<!-- Most Popular Services end -->

<!-- Most Popular Classes start -->
<section class="most_propular_service">
	<div class="container">
		<h2>Most Popular <span>Classes</span></h2>
		<p>Explore the most popular searches. See what classes people are searching for.</p>
		<div class="most_propular_service_main">
			<div class="row">
				<div class="col-sm-12" >
					<h4 *ngIf="classList_count==0">No class availble</h4>
					<owl-carousel-o [options]="popularOptions" *ngIf="classList_count>0">
						<ng-container *ngFor="let data of allClasslist">
							<ng-template carouselSlide class="p-3">
								<div class="propular_service_box" (click)="gotoClassDetails(data)">
									<div class="propular_service_img">
										<img src={{photoUrl}}{{data.class_image}} alt="" />
									</div>
									<div class="propular_service_text">
										<h4>{{data.class_title}}</h4>
										<div class="propular_rate">
											<div class="cont">
												<div class="stars popularStarRating">
													<ngx-star-rating [disabled] ="true"></ngx-star-rating>
												</div>
											</div>
										</div>
										<div class="clear-both"></div>
										<!-- <div class="phone_num1">
											{{data.provider_id.UserPhone}}
										</div> -->
										
									</div>
								</div>
							</ng-template>
							
						</ng-container>
					</owl-carousel-o>
				</div>
			</div>
		</div>
		<div class="view_all_service_btn" *ngIf="classList_count >0">
			<a href="javascript:void(0);" [routerLink]="['/sub-category-class']">View All Classes</a>
		</div>
	</div>
</section>
<!-- Most Popular Classes end -->

<!-- Body content end -->