<!-- Footer start -->
<footer class="footer">

    <div class="container">
        <div class="footer_inner">
        <div class="footer_main_box_main">
        <div class="footer_main_box">
            <h2>QuickMints </h2>
            <!-- <ul *ngFor="let data of informationList">
                <li><a href="javascript:void(0);" (click)="onClick(data.pageSlug)">{{data.pageTitle}}</a></li>
            </ul> -->
            <ul >
                <!-- <li><a href="javascript:void(0);" [routerLink]="['/about-new']">About Us(2)</a></li> -->
                <li><a href="javascript:void(0);" [routerLink]="['/how-work']">How It works</a></li>
                <li><a href="javascript:void(0);" [routerLink]="['/term-conditions']">Terms & Conditions</a></li>
                <li><a href="javascript:void(0);" [routerLink]="['/Privacy-policy']">Privacy Policy</a></li>
            </ul>
        </div>
            <div class="footer_main_box">
            <h2>Partners </h2>
            <!-- <ul *ngFor="let data of otherLinks">
                <li><a href="javascript:void(0);" (click)="onClick(data.pageSlug)">{{data.pageTitle}}</a></li>
            </ul> -->
            <ul >
                <li><a href="javascript:void(0);" [routerLink]="['/provider-faq']">Partners FAQS</a></li>
                <li><a class="nav-link"  routerLinkActive="active" href="https://quickmints.freshdesk.com/support/solutions/73000231075" target="_blank">Support</a></li>
                <!-- <li><a href="javascript:void(0);" [routerLink]="['/pricing']">Pricing</a></li> -->
            </ul>
        </div>
            <div class="footer_main_box">
            <h2>Customers </h2>
            <!-- <ul *ngFor="let data of yourAccounts">
                <li><a href="javascript:void(0);" (click)="onClick(data.pageSlug)">{{data.pageTitle}}</a></li>
            </ul> -->
            <ul >
                <li><a href="javascript:void(0);" [routerLink]="['/customer-faq']">Customer FAQS</a></li>
                <li><a class="nav-link"  routerLinkActive="active" href="https://quickmints.freshdesk.com/support/solutions/73000231074" target="_blank">Support</a></li>
            </ul>
        </div>
            <!-- <div class="footer_main_box">
            <h2>Help Links</h2>
            <ul *ngFor="let data of helpLinks">
                <li><a href="javascript:void(0);" (click)="onClick(data.pageSlug)">{{data.pageTitle}}</a></li>
            </ul>
        </div> -->
            <div class="footer_main_box contact_footer_box">
            <h2>Contact Us</h2>
            <!-- <p class="address">{{address}}</p>
            <p class="phone">{{phone}}</p>
            <p class="message">{{email}}</p> -->
            <p *ngFor="let item of contactList" [ngClass]="{'address': item.pageSlug === 'Address', 'message' : item.pageSlug === 'Email'}">
                {{item.content}}
            </p>
            <div class="social_icons">
                <!-- <a href="{{fbUrl}}"><img src="assets/images/fb.png" alt=""/></a>
                <a href="{{twitter}}"><img src="assets/images/tw.png" alt=""/></a>
                <a href="{{insta}}"><img src="assets/images/ins.png" alt=""/></a> -->
            </div>
        </div>
        </div>
        </div>
    </div>

    <div class="copy_right">
        <div class="container">
            <div class="copy_right_inner">
                <p>© 2021 Quickmints. All rights reserved.</p>
                <a href="#">
                    <img src="assets/images/payment_options.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
